body{
  background-color: #ff69b4;
}


header {
  background: linear-gradient( to right, #00bfff 60%, yellow, orange);
}

.caixa {
  width: 940px;
  margin: 0 auto;
  padding: 20px 0;
}

.imagem {
  position: relative;
  right: 20%;
}


nav {
  position: absolute;
  top: 181px;
  right: 30px;
}

nav li {
  display: inline;
  margin: 0 10px 0 15px;
}

nav a {
  text-transform: uppercase;
  color: darkblue;
  font-weight: bold;
  font-size: 27px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ff8c00;
}

nav a:hover {
  color: #ff69b4;
  -webkit-text-stroke-color: #ff69b4;
  text-decoration: underline;
}

.produtos {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.produtos li {
  background: #4b0082;
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 10px;
  border-color: #ff00ff;
}

.produtos li:hover {
  border-color: yellow;
}

.produtos li:active{
  border-color: lawngreen;
}

.produtos li:hover h2 {
  font-size: 34px;
}

.fonte {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  color: #00bfff;
  position: relative;
  bottom: 10px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #00bfff;
}

.produtos img {
  max-width: 250px;
  max-height: 250px;
  width: auto;
  height:auto;

}

.produto-descricao {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 13px;
  color: #00bfff;
}

.produto-preco {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  color: #00bfff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #00bfff;
  margin-top: 10px;
}

footer {
  text-align: center;
  background: linear-gradient( to left, yellow, orange);
  padding: 30px;
}

.nome {
  color: white;
  font-size: 13px;
  margin: 20px 0 0;
}

/* ------Estilizacão da página de contatos ------ */

main{
  width: 940px;
  margin: 0 auto;
}

form{
  margin: 40px 0;
}

form label, form legend{
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-padrao{
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%
}

.checkbox{
  margin: 20px 0;
}

.enviar{
  width: 40%;
  padding: 15px 0;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
}

.enviar:hover{
  background: darkorange;
  transform: scale(1.2);
}

table{
  margin: 20px 0 40px;
}

thead{
  background: #555555;
  color: white;
  font-weight: bold;
}

td, th{
  border: 1px solid #000000;
  padding: 8px 15px;
}
